@page "/personinfo"
@using PetCare.Models;


<h3>PersonalInformation</h3>
<EditForm Model="person" OnValidSubmit="ValidSubmission">
    <DataAnnotaionsValidator />
    <ValidationSummary />

    <label for="firstname" class="form-label">@nameof(person.FirstName)</label>
    <InputText id="firstname" @bind-Value="person.FirstName" />


    <button class="btn btn-primary" type="submit">Submit</button>

</EditForm>

<ul>
    <li>
        @person
    </li>
</ul>

@code {
    private PersonModel person = new();
    private List<PersonModel> people = new();

    private void ValidSubmission()
    {
        //will be uploaded to DB eventually
        people.Add(person);
        people = new();
    }
}
