@page "/tipsfornewowners"

<h3>Tips For New Owners</h3>

<p>Before you bring an animal into your home, it is important to think about some practical issues. 
    For example, do you know what it costs and how much time goes into caring for a dog? 
    Or how often a rabbit's pen needs to be changed? Prepare yourself with these handy tips for the owner.</p>

@code {

}
